/* ==========================================================================
   Social List Item shortcode styles
   ========================================================================== */

.qodef-social-list-item {
	@include qodefRelativeLayout();
	line-height: 1;
	padding-top: 21px;
	padding-bottom: 67px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;

	.qodef-e-title {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 0;
		line-height: 1;
		width: 100%;

		a {
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
	}

	.qodef-e-title-inner {
		display: flex;
		align-items: center;
	}

	.qodef-icon-holder {
		flex-shrink: 0;
		margin-right: 5px;
		float: none;

		.qodef-icon {
			font-size: $text-font-size;
		}
	}

	&.qodef-icon--custom-icon {

		.qodef-e-icon-wrapper {
			position: relative;
			display: inline-block;
			vertical-align: top;

			a, img {
				display: block;
			}
		}
	}

	&.qodef-disable-top-border {
		border-top: 0;
	}

	&.qodef-disable-bottom-border {
		border-bottom: 0;
	}

	a {

		svg {
			@include qodefButtonArrow();

			@include qodefScreenSize680 {
				width: 24px;
				height: auto;
			}
		}

		&:hover {
			svg {
				@include qodefButtonArrowHover();
			}
		}
	}
}