/* ==========================================================================
   Portfolio List shortcode variation hover styles
   ========================================================================== */

.qodef-item-layout--info-on-hover.qodef-hover-animation--fade-in {
	
	.qodef-e-content {
		opacity: 0;
		transform: translateY(10px);
		transition: opacity .4s cubic-bezier(.22,.61,.36,1),transform .6s cubic-bezier(.18,.79,.48,.99);
	}

	.qodef-e:not(.qodef-with--decoration-shape):not(.qodef-with--decoration-glow) {
		.qodef-e-media-image {
			&:after {
				@include qodefOverlay(rgba(10, 10, 10, 0.5));
			}
		}
	}
	
	.qodef-e:hover {
		
		.qodef-e-content {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	.qodef-e:not(.qodef-with--decoration-shape):not(.qodef-with--decoration-glow):hover .qodef-e-media-image {
		&:after {
			@include qodefOverlayHover();
		}
	}
}
