/* ==========================================================================
   Portfolio List shortcode variation styles
   ========================================================================== */

.qodef-portfolio-list {
 
	&.qodef-item-layout--info-below {
  
		.qodef-e-content {
			margin-top: 19px;
		}

		.qodef-e-top-holder {
			margin-top: 3px;
			margin-bottom: 0;
		}
	}
}
