/* ==========================================================================
   Portfolio Single variation styles
   ========================================================================== */

.qodef-portfolio-single {
    
    &.qodef-layout--custom {

        .qodef-portfolio-info {
            margin-top: -4px!important;
        }

        .qodef-media {
            margin-top: -15px;
    
            .qodef-grid-item {
                display: block;
                margin-bottom: 10px;
                float: none;
            }
        }

        .qodef-portfolio-single-item {
            margin-bottom: 65px;
        }

        .qodef-variations--big {

            .qodef-e-content {
                margin-top: 0;
            }
        }
    }
}
